@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">SportsARgue</h1>
    <p>Select Two Pleyers to Determine Who or Was the Better Player!</p>
    <p>Note: This site compiles stats and uses our own algorithm to determine the arguments outcome,
                   it is intended for entertainment purposes only.</p>
    <p>Players and Stats Pulled from <a href="https://www.basketball-reference.com/">Basketball-Reference.com</a>.</p>

    <h2 class="dropdown-menu-left">Select First Player</h2>
</div>
