@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-1">SportsARgue</h1>
    <p class="bg-info">Select Two Current or Former NBA Stars to Determine Who or Was the Better Player!</p>
    
        <label>TOP 20 NBA STARS</label>
        <select id="players" class="alert-success">
            <option value="0">CHOOSE PLAYER</option>
            <option value="1">Michael Jordan</option>
            <option value="2">LeBron James</option>
            <option value="3">Kareem Abdul-Jabbar</option>
            <option value="4">Wilt Chamberlain</option>
            <option value="5">Magic Johnson</option>
            <option value="6">Larry Bird</option>
            <option value="7">Kobe Bryant</option>
            <option value="8">Elgin Baylor</option>
            <option value="9">Karl Malone</option>
            <option value="10">Charles Barkley</option>
            <option value="11">Bob Pettit</option>
            <option value="12">Shaquille O'Neal</option>
            <option value="13">Tim Duncan</option>
            <option value="14">Hakeem Olajuwon</option>
            <option value="15">Chris Paul</option>
            <option value="16">David Robinson</option>
            <option value="17">Kevin Durant</option>
            <option value="18">Jerry West</option>
            <option value="19">Oscar Robertson</option>
            <option value="20">Julius Erving</option>
        </select>
        <h2 class="small">Players and Stats Pulled from <a href="https://www.basketball-reference.com/">Basketball-Reference.com</a>.</h2>
    <p>
        Note: This site compiles stats and uses our own algorithm to determine the arguments outcome,
        it is intended for entertainment purposes only.
    </p>
    


</div>